<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Объявления</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5 mb-5">
  <h1>Публикация объявления</h1>
  <form action="/advertisements/add" method="post">
    <input type="text" name="title" placeholder="Введите заголовок" class="form-control"><br>
    <input type="text" name="description" placeholder="Введите описание" class="form-control"><br>
    <button type="submit" class="btn btn-success">Добавить</button>
  </form>
</div>
</body>
</html>