<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="/login" method="post">
    <input type="email" name="username" placeholder="Электронная почта" class="form-control"><br>
    <input type="password" name="password" placeholder="Пароль" class="form-control"><br>
    <button type="submit" class="btn btn-success">Войти</button>
</form>

</body>
</html>