<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--  <link rel="stylesheet" href="/css/bootstrap.min.css">-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Объявления</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:if="user.email==null" th:insert="~{blocks/header :: header}"></header>
<header th:unless="user.email==null" th:insert="~{blocks/header-auth :: header}"></header>

<div class="container mt-5">
  <h1 th:text="'Объявления пользователя '+${user.name}"></h1>
  <div th:each="el : ${advertisements}" class="alert alert-info mt-2">
    <div class="d-flex flex-row gap-3">
      <h3 th:text="${el.title}"></h3>
      <a th:href="'/advertisements/' + ${el.id}" class="btn btn-success">Детальнее</a>
    </div><br>
    <div th:if="${el.images.size()} != 0">
      <img th:src="'/images/' + ${el.previewImageId}" height="100px"/><br>
    </div>
    <br><a th:href="'/advertisements/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
    <form th:action="'/advertisements/' + ${el.id} + '/remove'" method="post" style="display: inline-block;">
      <button type="submit" class="btn btn-warning">Удалить</button>
    </form><br>
  </div>
</div>
</body>
</html>